<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png"> 
    <link rel="stylesheet" href="/css/styles.css">

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Ashutosh Singh. It uses data from mapbox.com and Weather Stack!</p>
        <img class="portrait" src="/img/circle-cropped.png">
    </div>

   {{>footer}}
</body>

</head>

</html>